@import url(https://fonts.googleapis.com/css?family=Exo:400,100,200,300,500,600,700,800,900);
/**
 * ===============================
 *  Defult CSS 
 * ===============================
 */
html * {
  font-family: 'Exo', sans-serif;
}
body {
  font-family: 'Exo', sans-serif;
}
a {
  font-family: 'Exo', sans-serif;
}
/* Heading Style */
p {
  font-family: 'Exo', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo', sans-serif;
}
/**
 * ====================================
 *  Every Section Headline Defult Class
 * ====================================
 */
.section-header .section-heading {
  font-family: 'Exo', sans-serif;
}
.section-header .sub-title {
  font-family: 'Exo', sans-serif;
}
/**
 * ===============================
 *   Defult Button Style
 * ===============================
 */
.btn,
a,
.title {
  font-family: 'Exo', sans-serif;
}
/**
 * =========================
 * Form Style 
 * =========================
 */
.single-form .form-control {
  font-family: 'Exo', sans-serif;
}
/**
 * =========================
 * Header Style 
 * =========================
 */
.header .part-inner .sub-title {
  font-family: 'Exo', sans-serif;
}
