
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
    font-weight: 200;
}
hr {
    max-width: 400px;
    border-color: #999999;
}
.head_name,
.address-bar {
    display: none;
}
.navbar-head_name {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}
.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}
.img-full {
    min-width: 100%;
}
.head_name-before,
.head_name-name {
    text-transform: capitalize;
}
.head_name-before {
    margin: 15px 0;
}
.head_name-name {
    margin: 0;
    font-size: 4em;
}
.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}
.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
    margin:30px 0;
}
.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}
.img-left {
    float: none;
    margin: 0 auto 0;
}
footer {
    background:#98012e;
    border-top: 2px solid black;
}
footer p {
    margin: 0;
    padding: 35px 0;
    color:#fff;
    font-weight: 400;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-inner{
    max-height: 400px !important;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#header{
    background-color: #98012e;
}
.fb{
    background-color:#3b5998;
    color:white;
}
.insta{
    color:white;
    background: -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.vimeo{
    background-color:#162221;
    color:white;
}
.fb:hover {
    background-color:#3b5998;
    color:white;
    text-decoration:underline;
}
.insta:hover {
    color:white;
    text-decoration:underline;
}
.vimeo:hover{
    background-color:#162221;
    color:white;
    text-decoration:underline;
}
nav.navbar-default {
    width: 100%;
    background-color: white;
    z-index: 100;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    box-shadow: 0 0 40px #222;
    -webkit-box-shadow: 0px 0 5px black;
}
::-webkit-scrollbar {
    width:8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
}
@media screen and (min-width:768px) {
    .head_name {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 85px;
        font-weight: 700;
        line-height: normal;
        color: #fff;
        padding-top:95px;
    }
    .top-divider {
        margin-top: 0;
    }
    .img-left {
        float: left;
        margin-right: 25px;
    }
    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }
    .navbar {
        border-radius: 0;
    }
    .navbar-header {
        display: none;
    }
    .navbar {
        min-height: 0;
    }
    .navbar-default {
        border: none;
        background: #fff;
        background: white;
    }
    .nav>li>a {
        padding: 35px;
    }
    .navbar-nav>li>a {
        line-height: normal;
    }
    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}
@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}