@import url("Popap Animation/style.css");

.container {
  min-width: 1180px;
}
html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Exo', sans-serif;
}
body {
  font-family: 'Exo', sans-serif;
  overflow-x: hidden !important;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  min-width: 100vw;
  width: 1180px;
}
a {
  text-decoration: none !important;
  cursor: pointer !important;
  font-family: 'Exo', sans-serif;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
a:focus {
  outline: 0;
}

/* Heading Style */
p {
  font-family: 'Exo', sans-serif;
  margin-bottom: 20px;
}
h1 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
}
h2 {
  font-size: 35px;
  line-height: 52px;
  font-weight: 300;
}
h3 {
  font-size: 25px;
  line-height: 42px;
  font-weight: 300;
}

.section-header {
  text-align: center;
  padding-left: 20px;
}
.section-header .section-heading {
  padding-bottom: 0px;
  margin: 0;
  font-size: 35px;
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
}
.section-header .sub-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
  line-height: 28px;
}
.section-separator {
  display: block;
  padding: 50px ;
}


.btn {
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 17px;
  font-weight: 600;
  margin-right: 15px;
  overflow: hidden;
  outline: 0;
  padding: 0 0;
  position: relative;
  z-index: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.btn:last-child {
  margin-right: 0px !important;
}
.btn.fill,
.btn.border {
  padding: 15px 25px;
  min-width: 220px;
}
.btn.fill .fa,
.btn.border .fa {
  opacity: 1;
}
.btn.fill span,
.btn.border span {
  display: block;
}
.btn.fill .btn-hide,
.btn.border .btn-hide,
.btn.fill .btn-show,
.btn.border .btn-show {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn.fill .btn-hide .btn-text,
.btn.border .btn-hide .btn-text,
.btn.fill .btn-show .btn-text,
.btn.border .btn-show .btn-text {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  padding: 15px 25px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.btn.fill .btn-hide,
.btn.border .btn-hide {
  transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  z-index: 2;
}
.btn.fill .btn-hide .btn-text,
.btn.border .btn-hide .btn-text {
  transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  opacity: 0;
}
.btn.fill .btn-show,
.btn.border .btn-show {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  z-index: 1;
}
.btn.fill .btn-show .btn-text,
.btn.border .btn-show .btn-text {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
}
.btn.fill:hover .btn-hide,
.btn.border:hover .btn-hide {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}
.btn.fill:hover .btn-hide .btn-text,
.btn.border:hover .btn-hide .btn-text {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
}
.btn.fill:hover .btn-show,
.btn.border:hover .btn-show {
  transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
}
.btn.fill:hover .btn-show .btn-text,
.btn.border:hover .btn-show .btn-text {
  transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  opacity: 0;
}
.btn.border {
  padding: 14px 25px;
  border: 1px solid;
}
.btn .fa {
  position: relative;
  top: 3px;
}
.btn .fa img {
  position: relative;
  top: -3px;
  width: 14px;
}
.btn.left-icon .fa {
  margin-right: 5px;
}
.btn.right-icon .fa {
  margin-left: 5px;
}
.btn.btn-round {
  padding: 15px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 24px;
  text-align: center;
}
.btn.btn-round .fa {
  top: 7px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.btn-text-link {
  padding: 50px 0 0 0;
  text-align: center;
}
.btn-text-link a {
  margin-left: 10px;
}

/** 
 * ======================
 * Social Icon Style
 * ======================
 */
.social-icon li {
  list-style: none;
  float: left;
  margin-bottom: 0px;
}
.social-icon li a {
  font-size: 30px;
  text-align: center;
  margin-top: 8px;
  margin-right: 10px;
  color: transparent !important;
  opacity: 1;
  padding: 7px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.social-icon li a .btn-hide,
.social-icon li a .btn-show {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.social-icon li a .btn-hide .btn-text,
.social-icon li a .btn-show .btn-text {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  padding: 7px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.social-icon li a .btn-hide {
  transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-102%) translateZ(0) rotate(0deg) scale(1);
  z-index: 2;
}
.social-icon li a .btn-hide .btn-text {
  transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
  opacity: 0;
}
.social-icon li a .btn-show {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  z-index: 1;
}
.social-icon li a .btn-show .btn-text {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
}
.social-icon li a:hover .btn-hide {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}
.social-icon li a:hover .btn-hide .btn-text {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
}
.social-icon li a:hover .btn-show {
  transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(50%) translateZ(0) rotate(0deg) scale(1);
}
.social-icon li a:hover .btn-show .btn-text {
  transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(25%) translateZ(0) rotate(0deg) scale(1);
  opacity: 0;
}
.social-icon li:last-child a {
  margin-right: 0;
}
/**
 * ======================================
 * Project Full View Helping Custom Style
 *  - PreLoader Style
 *  - Back Button Style
 * ======================================
 */
.project-loader-backButton .project-filter-loader {
  min-height: 350px;
  width: 100%;
  position: relative;
  display: none;
}
.project-loader-backButton .back-button {
  text-align: center;
  margin-top: 35px;
}
.project-loader-backButton .back-button .btn {
  display: none;
}
/**
 * ===================================
 * Subscription and contact  "MESSAGE"
 * ===================================
 */

.message {
  margin-bottom: 20px;
}
.subscription-success,
.subscription-failed,
.email-success,
.email-failed,
.email-loading {
  font-size: 14px;
  display: none;
  text-align: left !important;
  margin: 0 0 10px 0 !important;
  position: absolute;
  left: 0;
  top: -20px;
}
.email-loading {
  color: #52B8FF;
}
.email-loading img {
  width: 15px;
  position: relative;
  top: -2px;
}
.subscription-failed,
.email-failed {
  color: #FF5252 !important;
}
.subscription-failed .fa,
.email-failed .fa {
  font-size: 20px;
  position: relative;
  top: 5px;
}
.subscription-success,
.email-success {
  color: #52B8FF;
}
.subscription-failed .fa,
.email-failed .fa,
.subscription-success .fa,
.email-success .fa {
  font-size: 20px;
  position: relative;
  top: 5px;
}


.single-form .form-control {
  border:none;
  text-indent: 10px;
  border-bottom: 1px solid white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  resize: none;
  height: 54px;
  padding: 0;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.single-form textarea {
  height: 180px !important;
}
.single-form .form-group {
  margin: 0px;
}


.content-slider .click {
  display: block;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.content-slider .each-content {
  display: none;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-name: fadeOutDown;
  -webkit-animation-name: fadeOutDown;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  opacity: 0;
}
.content-slider .each-content.active {
  display: block !important;
  opacity: 1 !important;
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
}


.main-navbar-top {
  min-width: 1180px;
  border: 0px solid;
  transition: transform 0.4s, background-color 0.4s;
  -o-transition: -moz-transform 0.4s, background-color 0.4s;
  -moz-transition: -moz-transform 0.4s, background-color 0.4s;
  -webkit-transition: -webkit-transform 0.4s, background-color 0.4s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  transform: translateX(0) translateY(10px) translateZ(0) rotate(0deg) scale(0.95);
  -o-transform: translateX(0) translateY(10px) translateZ(0) rotate(0deg) scale(0.95);
  -ms-transform: translateX(0) translateY(10px) translateZ(0) rotate(0deg) scale(0.95);
  -moz-transform: translateX(0) translateY(10px) translateZ(0) rotate(0deg) scale(0.95);
  -webkit-transform: translateX(0) translateY(10px) translateZ(0) rotate(0deg) scale(0.95);
}
.main-navbar-top .relative {
  position: relative;
}
.main-navbar-top .navbar-header .navbar-brand {
  display: block;
  height: 86px;
  
}
.main-navbar-top .navbar-header .navbar-brand img {
  display: block;
  height: 100%;
  max-width: initial;
}
.main-navbar-top .navbar-nav {
  margin-right: 35px;
}
.main-navbar-top .navbar-nav li .btn-nav {
  padding: 33px 13px;
  font-weight: 500;
  font-size: 15px;
  margin-right: 2px;
  position: relative;
  text-transform: uppercase;
}
.main-navbar-top .navbar-nav li .btn-nav:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.main-navbar-top .navbar-nav li .btn-nav.active:before {
  opacity: 1;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}
.main-navbar-top .navbar-nav li:last-child a {
  margin-right: 0px;
}
.main-navbar-top.multi-logo .dark-logo {
  display: none;
}
.main-navbar-top.navbar-home {

  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}
.main-navbar-top.navbar-home.multi-logo .dark-logo {
  display: block;
}
.main-navbar-top.navbar-home.multi-logo .light-logo {
  display: none;
}
/* Menu trigger  */

/**
 * =======================
 * Navigation 2
 * =======================
 */
.main-navbar-top-2 .navbar-nav {
  margin-right: 0px;
}
.main-navbar-top-2 .nav-trigger {
  margin: 0;
}
/**
 * ===============================
 * Header Style 1
 * ===============================
*/
.header-bg-1 {
  background: url('../images/import/hero-wall.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 0;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.header {
  position: relative;
}
.header .part-inner {
  margin: 250px 0 170px 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.header .part-inner .title {
  font-weight: 900;
  letter-spacing: 4px;
}
.header .part-inner .sub-title {
  font-weight: 100;
  margin: 0;
}
.header .part-inner .detail {
  margin-top: 30px;
}
.header .part-inner .btn-form {
  margin-top: 40px;
}
/**
 * ===============================
 * Header Style 2
 * ===============================
*/
.header-bg-2 {
  background-image: url('../images/table.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 52%;
  background-position: right center;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-color: #afd3d3;
}
/**
 * ===============================
 * Features Section 1
 * ===============================
*/
.features-section-1 {
  position: relative;
}
.features-section-1 .part-1 .each-services .each-services-inner {
  padding: 50px 40px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  margin: 15px 0;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}
.features-section-1 .part-1 .each-services .each-services-inner .features-icon {
  font-size: 40px;
}
.features-section-1 .part-1 .each-services .each-services-inner .title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 25px 0;
}
.features-section-1 .part-1 .each-services .each-services-inner p:last-child {
  margin-bottom: 0;
}
.features-section-1 .part-1 .each-services .each-services-inner .btn-form {
  margin-top: 40px;
}
.features-section-1 .part-1.each-hover .each-services-inner:hover {
  transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1);
}
/**
 * ==========================
 * Features Section 2
 * ==========================
 */
.features-section-2 {
  position: relative;
}
.features-section-2 .grid:after {
  content: '';
  display: block;
  clear: both;
}
.features-section-2 .grid .grid-item {
  padding: 5px;
}
.features-section-2 .grid .grid-item figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.features-section-2 .grid .grid-item figure img {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.features-section-2 .grid .grid-item figure figcaption {
  position: absolute;
  padding: 15px;
  height: 100%;
  width: 100%;
  top: auto;
  left: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  z-index: 1;
}
.features-section-2 .grid .grid-item figure figcaption:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
  z-index: -1;
  opacity: 0;
}
.features-section-2 .grid .grid-item figure figcaption .title {
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: 900;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -22px;
  transform: translateX(-20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(-20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(-20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(-20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(-20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 0;
  letter-spacing: 0px;
}
.features-section-2 .grid .grid-item figure figcaption .sub-title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: 13px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  transform: translateX(20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(20px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 0;
}
.features-section-2 .grid .grid-item figure figcaption a {
  position: absolute;
  z-index: 1111;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-indent: -99999px;
}
.features-section-2 .grid .grid-item figure:hover figcaption:after {
  opacity: 1;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}
.features-section-2 .grid .grid-item figure:hover figcaption .title,
.features-section-2 .grid .grid-item figure:hover figcaption .sub-title {
  transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
}
/* Project Full View */
.project-gallery-view .project-image {
  width: 100%;
}
.project-gallery-view .project-description {
  margin-top: 25px;
  margin-bottom: 0;
}
.project-gallery-view .project-information {
  margin-top: 35px;
  background-color: #f6f6f6;
  padding: 20px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.project-gallery-view .project-information ul {
  padding: 0px;
}
.project-gallery-view .project-information ul li {
  float: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  border-color: rgba(55, 55, 55, 0.12);
}
.project-gallery-view .project-information ul li h4 {
  margin: 0;
  color: rgba(55, 55, 55, 0.55);
}
.project-gallery-view .project-information ul li p {
  font-weight: 500;
  margin: 10px 0 0 0;
  color: rgba(55, 55, 55, 0.55);

}
.project-gallery-view .project-information ul li a {
  color: rgba(55, 55, 55, 0.55);
  padding: 0;
  margin-top: 5px;
  display: inline-block;
}
.project-gallery-view .project-information ul li a:hover {
  color: #00bfa5;
}
.project-gallery-view .project-information ul li:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px solid;
  border-color: rgba(55, 55, 55, 0.12);
}
.project-gallery-view .project-information:hover {
  box-shadow: 0 10px 65px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 10px 65px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 10px 65px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 10px 65px 0 rgba(0, 0, 0, 0.15);
}
.project-gallery-view .title {
  font-weight: 500;
  font-size: 29px;
  color: rgba(55, 55, 55, 0.9);
  line-height: 35px;
  margin: 25px 0 0 0;
}
.project-gallery-view .post-date {
  /* margin-top: 8px; */
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  margin-top: 15px;
}


/**
 * =======================
 * Features Section 6
 * =======================
 */
.features-section-6 {
  position: relative;
  height: 700px;
}
.features-section-6 .section-separator {
  padding-bottom: 0px;
}
.features-section-6 .btn-form .btn {
    z-index: 2;
   float: right;
   border: 10px solid white;
   background-color: #98bff9;
  box-shadow: 3px 2px 6px 1px #cda847;
 }
.features-section-6 .btn-form .btn:hover {
  border: 10px solid white;
}


.features-section-8 {
  position: relative;
}
.features-section-8 .part-1 .each-content .content-image img {
  width: 100%;
  padding: 15px;
}
.features-section-8 .part-1 .each-content .content-detail .separator {
  margin: 40px 0 0 0;
}
.features-section-8 .part-1 .each-content .content-detail .separator:first-child {
  margin: 30px 0 0 0;
}
.features-section-8 .part-1 .each-content .content-detail .title {
  text-align: left;
}
.features-section-8 .part-1 .each-content .content-detail .nav {
  padding-left: 40px;
  margin-top: 15px;
}
.features-section-8 .part-1 .each-content .content-detail .nav li {
    margin-bottom: 10px;
    text-align: left;
    color: white;
}
.features-section-8 .part-1 .each-content .content-detail .nav li:after {
  content: "\e014";
  font-family: 'deviserweb';
  font-size: 18px;
  position: absolute;
  left: -40px;
  top: -1px;
}
.features-section-8 .part-1 .each-content .content-detail .nav li:last-child {
  margin-bottom: 0px !important;
}
.features-section-8 .part-2 {
  margin-bottom: 50px;
  text-align: center;
}
.features-section-8 .part-2 .nav {
  display: inline-block;
}
.features-section-8 .part-2 .nav li {
  float: left;
}
.features-section-8 .part-2 .nav li h3 {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  padding: 5px 0;
  position: relative;
  margin-right: 40px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.features-section-8 .part-2 .nav li h3:before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-10px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.features-section-8 .part-2 .nav li:last-child h3 {
  margin-right: 0px !important;
}
.features-section-8 .part-2 .nav li.active h3:before {
  opacity: 1;
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}
.features-section-11 {
  position: relative;
}
.features-section-11 .form-body {
  display: inline-block;
  padding:25px 75px;
}
.features-section-11 .single-form .btn-form {
  margin-top: 25px;
  text-align: center;
}

.footer {
  position: relative;
}
.footer .logo {
  width: 110px;
  height: auto;
  display: block;
  margin: auto;
}
.footer .title {
  font-size: 20px;
  margin: 0;
  line-height: 25px;
}
.footer .detail {
  margin-top: 20px;
  padding-left: 30px;
}
.footer .copyright {
  margin-top: 50px;
  margin-bottom: 0;
}
.footer .social-icon {
  display: inline-block;
  margin-top: 15px;
}
.footer .logo,
.footer .footer-detail {
  display: table-cell;
  vertical-align: top;
}



.post-header .hero-image {
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translate(-50%,-15px);
  transform: translate(-50%,-15px);
  width: 600px;
}
.hero-image-container {
  animation: hero-fade-in 1s 0.5s linear forwards;
  opacity: 0;
  overflow: hidden;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 590px;
  height: 340px;
}
@-webkit-keyframes hero-fade-in {
  100% {
    opacity: 1;
  }
}
@keyframes hero-fade-in {
  100% {
    opacity: 1;
  }
}
.window-background {
  -webkit-animation: background-color 5s cubic-bezier(0.81, -0.46, 0.19, 1.33) infinite;
  animation: background-color 5s cubic-bezier(0.81, -0.46, 0.19, 1.33) infinite;
  position: absolute;
  height: 100%;
  width: 300px;
  top: -70px;
}
.screen-container {
  -webkit-animation: move-emails 5s infinite ease-out;
  animation: move-emails 5s infinite ease-out;
  position: absolute;
  width: 82px;
  height: 63px;
  bottom: 96px;
  background: #fff url('../images/emails.svg') repeat-y;
  background-size: 100% auto;
  left: 50%;
  -webkit-transform: translate(-16.4%, -10%);
  transform: translate(-16.4%, -10%);
}
.notification {
  -webkit-animation: move-notification 5s infinite cubic-bezier(0.81, -0.46, 0.19, 1.33);
  animation: move-notification 5s infinite cubic-bezier(0.81, -0.46, 0.19, 1.33);
  position: absolute;
  bottom: 47%;
  left: 65%;
  width: 4%;
  height: 3%;
  background: #fff url(../images/notification.svg);
  background-size: 100%;
}
.moon {
  -webkit-animation: moon 5s infinite linear;
  animation: moon 5s infinite linear;
  position: absolute;
  left: 25%;
  top: 15%;
  background: url(../images/moon.svg) no-repeat;
  background-size: 100%;
  height: 25%;
  width: 8%;
  -webkit-transform-origin: 30% 350%;
  transform-origin: 30% 350%;
}
@-webkit-keyframes background-color {
  0% {
    background: #011;
  }
  20%, 30% {
    background: #5ab6fc;
  }
  100% {
    background: #011;
  }
}
@keyframes background-color {
  0% {
    background: #011;
  }
  20%, 30% {
    background: #5ab6fc;
  }
  100% {
    background: #011;
  }
}
@-webkit-keyframes move-emails {
  0%, 24% {
    background-position: 0 -4.6em;
    -webkit-animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
    animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
  }
  34%, 60% {
    background-position: 0 0;
  }
  90%, 100% {
    background-position: 0 -78%;
  }
}
@keyframes move-emails {
  0%, 24% {
    background-position: 0 -4.6em;
    -webkit-animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
    animation-timing-function: cubic-bezier(0.81, -0.46, 0.19, 1.33);
  }
  34%, 60% {
    background-position: 0 0;
  }
  90%, 100% {
    background-position: 0 -78%;
  }
}
@-webkit-keyframes move-notification {
  0%, 20% {
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em);
    opacity: 0;
  }
  50%, 58% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  70%, 100% {
    -webkit-transform: translateX(-0.25em);
    transform: translateX(-0.25em);
    opacity: 0;
  }
}
@keyframes move-notification {
  0%, 20% {
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em);
    opacity: 0;
  }
  50%, 58% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  70%, 100% {
    -webkit-transform: translateX(-0.25em);
    transform: translateX(-0.25em);
    opacity: 0;
  }
}
@-webkit-keyframes moon {
  0% {
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
    animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
}
@keyframes moon {
  0% {
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
    animation-timing-function: cubic-bezier(0.25, 0, 0.41, 1);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

