/*------------------------------------------------------------------
[Table of contents]

[ DEFULT INDEX NUMBER ]
1. Defult css
    -- Before this comment ( START MAIN CSS STYLE ) defult css continue .

2. Header Section 1 / .header-section-1


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    
    [ Light ]
        main-color:         #F8626D (Red)       [ This is the main color in Template ]
        Background-1:       #0E0E0E             [ Background color 1 ]
        Background-2:       #F5F5F5             [ Background color 2 ]
        Background-3:       #FFFFFF ()          [ Background color 3 ]
        light-color:        #FFFFFF             [ Using text color and some ware ]
        dark-color:         #000                [ Using text color and some ware ]
        @shadow-color:      rgba(0, 0, 0, .35)  [ Box shadow color ]


[ This Templage Using 1 Coller Scheme ]

    [ Main color ]
        1. Red:         #FF5252;
        2. Sky Blow:    #52B8FF;
        3. Yellow:      #FFC852;
        4. Black:       #000000;

    [Background color ]
        1. Dark:        #F3F3F3;
        2. Light:       #FFFFFF;
    
    [ Shadow color ]
        shadow-color:      fade(#000, 35%);

    [ Overlay color]
        overlay-color:     #000000;



[ Using Color Code ]
    h1 [ All ]      Color: #000                         [ Black ]
    h2 [ Light ]    Color: rgba(0, 0, 0, 1)             [ Black 100% opacity ]
    h3 [ Light ]    Color: rgba(0, 0, 0, 1)             [ Black 100% opacity ]
    p  [ Light ]    Color: rgba(0, 0, 0, 0.45)          [ Black 45% opacity ]
    a  [ Normal ]   Color: main-color                   [ main-color is changed particular color scheme ]
    a  [ Hover ]    color: as required                  [ as required ]

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

    [ There are using two different font typography ]
        Typography 1: Exo Font;
        Typography 2: Poooins Font;
    
    [ Other Typography style are same ]
    Body :
        font-style:     normal;
        font-size:      15px;

    Header:
        font-style:     normal;
        font-size:      48px;

    h1:
        font-style:     normal;
        font-size:      48px;

    h2, h3, h4, h5, h6:
        font-style:     normal;

    Section Heading:
        font-style:     normal;
        font-size:      35px;

    p:  
        font-style:     normal;
        font-size:      15px;


    Notes:  This Template typography 1 Defult [ font-family: 'Exo', sans-serif; ] [ font-style: normal; ] [ font-size: 15px; ]
    Notes:  This Template typography 2 Defult [ font-family: 'Poppins', sans-serif; ] [ font-style: normal; ] [ font-size: 15px; ]

-------------------------------------------------------------------*/
@media (max-width: 991px) {
  /**
	 * ===============================
	 * Header Style 
	 * ===============================
	*/
  .header .part-inner {
    margin: 200px 0 130px 0;
  }
  /**
	 * ==========================
	 * Features Section 4
	 * ==========================
	 */
  .features-section-4 .faq-group .faq-trigger {
    padding: 25px 30px 25px 80px;
  }
  .features-section-4 .faq-group .faq-content {
    padding: 0px 30px 25px 80px;
  }
  /**
	 * =======================
	 * Features Section 5
	 * =======================
	 */
  .features-section-5 .part-2 .clients-logo li a {
    margin: 0 10px 5px 10px;
  }
  /**
	 * ==========================
	 * Features Section 8
	 * ==========================
	 */
  .features-section-8 .part-1 .each-content .content-detail .separator:first-child {
    margin: 0px 0 0 0;
  }
  /**
	 * ==========================
	 * Features Section 9
	 * ==========================
	 */
  .features-section-9 .features-inner .features-content {
    bottom: -80px;
  }
  /**
	 * ==========================
	 * Features Section 10
	 * ==========================
	 */
  .features-section-10 .each-table {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  /**
	 * ==========================
	 * Features Section 11
	 * ==========================
	 */
  .features-section-11 .form-body {
    padding: 70px 30px;
  }
}
@media (max-width: 767px) {
  /**
	 * ===============================
	 *  Defult CSS 
	 * ===============================
	 */
  html *,
  body,
  p {
    text-align: center;
  }
  a,
  button {
    cursor: pointer !important;
  }
  .btn,
  .btn:last-child,
  .btn:first-child {
    margin: 10px !important;
  }
  /**
	 * ====================================
	 *  Every Section Headline Defult Class
	 * ====================================
	 */
  .section-header .section-heading {
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 2px;
  }
  /**
	 * =======================
	 * Navigation
	 * =======================
	 */
  .main-navbar-top .navbar-nav {
    margin: auto;
    display: inline-block;
    padding-top: 10px;
  }
  .main-navbar-top .navbar-nav li {
    float: left;
  }
  .main-navbar-top .navbar-nav li a {
    padding: 10px !important;
  }
  /**
	 * ===============================
	 * Header Style 
	 * ===============================
	*/
  .header .part-inner {
    margin: 170px 0 100px 0;
  }
  /**
	 * ===============================
	 * Features Section 1
	 * ===============================
	*/
  .features-section-1 .part-1 .each-services .each-services-inner {
    padding: 30px 20px;
  }
  /**
	 * ==========================
	 * Features Section 2
	 * ==========================
	 */
  .features-section-2 .grid .grid-item {
    padding: 5px 0px;
  }
  /**
	 * ==========================
	 * Features Section 3
	 * ==========================
	 */
  .full-screen .half-screen {
    height: 50%;
    width: 100%;
  }
  .full-screen .half-screen-left {
    top: 0;
    left: auto;
  }
  .full-screen .half-screen-right {
    bottom: 0;
    right: auto;
  }
  .features-section-3 .content-area {
    height: 400px;
  }
  .features-section-3 .content-area .visible,
  .features-section-3 .content-area .no-visible {
    left: 0px;
    width: 100%;
    padding: 0 17px;
  }
  /**
	 * ==========================
	 * Features Section 4
	 * ==========================
	 */
  .features-section-4 .faq-group .faq-trigger,
  .features-section-4 .faq-group .faq-content {
    padding: 25px 30px 25px 40px;
  }
  .features-section-4 .faq-group .faq-trigger:before {
    left: 15px;
    top: 23px;
  }
  .features-section-4 .faq-group .faq-content p,
  .features-section-4 .faq-group .faq-trigger p,
  .features-section-4 .faq-group .faq-content h4,
  .features-section-4 .faq-group .faq-trigger h4 {
    text-align: left;
  }
  /**
	 * =======================
	 * Features Section 5
	 * =======================
	 */
  .features-section-5 .sync1 .owl-carousel {
    width: 100%;
    left: 0px;
  }
  .features-section-5 .sync1 .owl-prev,
  .features-section-5 .sync1 .owl-next {
    top: 100%;
  }
  .features-section-5 .sync1 .owl-prev {
    left: 0px;
  }
  .features-section-5 .sync1 .owl-next {
    right: 0px;
  }
  .features-section-5 .sync1 .item {
    padding: 30px 20px 40px;
  }
  .features-section-5 .part-2 .clients-logo li {
    width: 49%;
  }
  .features-section-5 .part-2 .clients-logo li a {
    margin: 0 10px 5px 10px;
  }
  /**
	 * =======================
	 * Features Section 7
	 * =======================
	 */
  .features-section-7 .single-form .btn {
    margin: 0px !important;
  }
  /**
	 * ==========================
	 * Features Section 8
	 * ==========================
	 */
  .features-section-8 .part-1 .each-content .content-detail .title {
    text-align: center;
  }
  .features-section-8 .part-2 .nav {
    display: block;
  }
  .features-section-8 .part-2 .nav li {
    float: none;
  }
  .features-section-8 .part-2 .nav li h3 {
    margin: 0px;
  }
  /**
	 * ==========================
	 * Features Section 9
	 * ==========================
	 */
  .features-section-9 .section-separator {
    padding-bottom: 35px;
  }
  .features-section-9 .features-inner .features-content {
    position: relative;
    bottom: 35px;
  }
  /**
	 * ==========================
	 * Features Section 10
	 * ==========================
	 */
  .features-section-10 .each-table .table-single {
    padding: 30px 20px;
  }
  .features-section-10 .each-table .table-single .meta-price {
    margin-bottom: 30px;
  }
  .features-section-10 .each-table .table-single .btn-form {
    margin-top: 40px;
  }
  .features-section-10 .each-table .table-single .btn-form .btn {
    max-width: 100%;
    width: auto !important;
    margin: 0 !important;
  }
  /**
	 * ==========================
	 * Features Section 11
	 * ==========================
	 */
  .features-section-11 .section-separator {
    padding: 0px 0px;
  }
  .features-section-11 .form-body {
    padding: 80px 0px;
  }
  .features-section-11 .form-body .btn-form .btn {
    margin: 0 !important;
    width: 100%;
    min-width: 100%;
  }
  /**
	 * =======================
	 * Footer Section 2
	 * =======================
	 */
  .footer-2 .logo,
  .footer-2 .footer-detail {
    display: table;
    vertical-align: top;
  }
  .footer-2 .logo {
    width: 80px;
    height: auto;
  }
  .footer-2 .footer-detail {
    margin-top: 30px;
    padding-left: 0px;
  }
  .footer-2 .part-2 {
    margin-top: 20px;
    text-align: center !important;
  }
}
