.wrapper {
  overflow: hidden;
  min-width: 1440px;
}
.wrapper header {
  background: #FFF;
}
.wrapper header .inner {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  height: 100px;
}
.wrapper header .inner .logo {
  position: absolute;
  top: 16px;
  left: 0px;
}
.wrapper header .inner .logo a {
  display: block;
  width: 162px;
  height: 67px;
  background: url(../assets/logo.png) 100% no-repeat;
}
.wrapper header .inner .phone_number {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
  font: bold 24px/24px 'Open Sans', sans-serif;
  color: #333333;
}
.wrapper .main-content {
  max-width: 1920px;
  margin: 0 auto;
}
.wrapper .main-content .banner {
  position: relative;
  height: 707px;
  background: url(../assets/banner.png) no-repeat 50% 0%;
}
.wrapper .main-content .banner .tarif {
  position: absolute;
  color: white;
  top: 111px;
  left: 50%;
  font: bold 36px/36px 'Open Sans', sans-serif;
  letter-spacing: 4px;
  margin-left: -76px;
}
.wrapper .main-content .banner .plan_a {
  position: absolute;
  color: white;
  top: 148px;
  left: 50%;
  font: 900 86px/86px 'Open Sans', sans-serif;
  margin-left: -224px;
}
.wrapper .main-content .banner .for_those {
  position: absolute;
  color: white;
  top: 432px;
  left: 50%;
  font: normal 36px/36px 'Open Sans', sans-serif;
  margin-left: -243px;
}
.wrapper .main-content .banner .big_plan {
  position: absolute;
  color: white;
  top: 493px;
  left: 50%;
  font: 900 48px/48px 'Open Sans', sans-serif;
  letter-spacing: 2px;
  margin-left: -243px;
}
.wrapper .main-content .banner .price {
  position: absolute;
  color: white;
  font: 900 72px/72px 'Open Sans', sans-serif;
  top: 284px;
  left: 50%;
  margin-left: -303px;
}
.wrapper .main-content .banner .price p {
  display: inline-block;
  font: 48px/48px 'Open Sans', sans-serif;
}
.wrapper .main-content .banner .price:before {
  content: '';
  position: absolute;
  width: 183px;
  height: 186px;
  top: -60px;
  left: -176px;
  background: url(../assets/pricesign.png) 100% no-repeat;
  background-size: 100%;
}
.wrapper .main-content .banner .speed {
  position: absolute;
  color: white;
  font: 900 72px/72px 'Open Sans', sans-serif;
  top: 284px;
  left: 50%;
  margin-left: 230px;
}
.wrapper .main-content .banner .speed p {
  display: inline-block;
  font: 48px/48px 'Open Sans', sans-serif;
}
.wrapper .main-content .banner .speed:before {
  content: '';
  position: absolute;
  width: 170px;
  height: 162px;
  top: -35px;
  left: -149px;
  background: url(../assets/speedsign.png) 100% no-repeat;
  background-size: 100%;
}
.wrapper .main-content .form_address {
  background: url(../assets/form_address_bg.jpg) 50% 0% repeat;
  position: relative;
}
.wrapper .main-content .form_address:before {
  content: '';
  display: block;
  width: 642px;
  height: 247px;
  background: url(../assets/plan_a.png) no-repeat;
  position: absolute;
  left: 50%;
  top: 6px;
  margin-left: -694px;
}
.wrapper .main-content .form_address:after {
  content: '';
  position: absolute;
  height: 97px;
  width: 100%;
  background: url(../assets/form1_shadow.png) repeat-x 50% 100%;
  bottom: 0px;
  left: 0px;
}
.wrapper .main-content .form_address .inner {
  position: relative;
  width: 1400px;
  margin: 0px auto;
  padding-left: 780px;
  padding-top: 50px;
  padding-bottom: 80px;
}
.wrapper .main-content .form_address .inner .sct {
  position: relative;
  width: 470px;
  margin-bottom: 29px;
}
.wrapper .main-content .form_address .inner .sct:before {
  content: '';
  position: absolute;
  opacity: 0.6;
  top: -7px;
  left: -70px;
  font: 900 36px/36px 'Open Sans', sans-serif;
  color: #005ba0;
}
.wrapper .main-content .form_address .inner .sct.l1:before {
  content: '1.';
}
.wrapper .main-content .form_address .inner .sct.l2:before {
  content: '2.';
}
.wrapper .main-content .form_address .inner .sct.l3:before {
  content: '3.';
}
.wrapper .main-content .form_address .inner .sct.address {
  height: 170px;
  width: 517px;
  background: url(../assets/adress_plate.png) 100% no-repeat;
  padding: 72px 37px 0px 25px;
  margin-bottom: 0px;
  margin-left: -18px;
}
.wrapper .main-content .form_address .inner .sct.address:before {
  opacity: 1;
  top: 40px;
  left: -51px;
}
.wrapper .main-content .form_address .inner .sct.address .inp.street {
  float: left;
  width: 320px;
}
.wrapper .main-content .form_address .inner .sct.address .inp.street input[type=text] {
  border-radius: 5px 0px 0px 5px;
}
.wrapper .main-content .form_address .inner .sct.address .inp.house {
  float: left;
  width: 135px;
  border-left: 1px solid #999999;
}
.wrapper .main-content .form_address .inner .sct.address .inp.house input[type=text] {
  border-radius: 0px 5px 5px 0px;
}
.wrapper .main-content .form_address .inner .sct.address .inp input[type=text] {
  background: #fff;
  border: none;
  height: 60px;
  padding: 20px 16px 10px 16px;
}
.wrapper .main-content .form_address .inner .sct .inp {
  position: relative;
}
.wrapper .main-content .form_address .inner .sct .inp input[type=text] {
  height: 70px;
  border: 2px solid #64a8dd;
  border-radius: 6px;
  background: transparent;
  width: 100%;
  outline: none;
  font: 300 24px/30px 'Open Sans', sans-serif;
  padding: 23px 16px 13px 16px;
}
.wrapper .main-content .form_address .inner .sct .inp input[type=text]::-webkit-input-placeholder {
  color: #333;
}
.wrapper .main-content .form_address .inner .sct .inp input[type=text]:-moz-placeholder {
  color: #333;
}
.wrapper .main-content .form_address .inner .sct .inp input[type=text].transparent_placeholder::-webkit-input-placeholder {
  color: transparent;
}
.wrapper .main-content .form_address .inner .sct .inp input[type=text].transparent_placeholder:-moz-placeholder {
  color: transparent;
}
.wrapper .main-content .form_address .inner .sct .inp span {
  display: none;
  position: absolute;
  top: 5px;
  left: 16px;
  color: #000;
  font: 14px/16px 'Open Sans', sans-serif;
}
.wrapper .main-content .form_address .inner .status {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font: 16px 'Open Sans', sans-serif;
  margin-bottom: 22px;
  margin-left: -18px;
}
.wrapper .main-content .form_address .inner .status .ask {
  display: none;
  color: #3497db;
  padding-left: 30px;
}
.wrapper .main-content .form_address .inner .status .ask:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 19px;
  left: 4px;
  background: url(../assets/alert_ask.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .main-content .form_address .inner .status .yes {
  display: none;
  color: green;
  padding-left: 30px;
}
.wrapper .main-content .form_address .inner .status .yes:before {
  content: '';
  position: absolute;
  height: 21px;
  width: 21px;
  left: 155px;
  background: url(../assets/alert_ok.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .main-content .form_address .inner .status .no {
  display: none;
  color: red;
  padding-left: 30px;
}
.wrapper .main-content .form_address .inner .status .no:before {
  content: '';
  position: absolute;
  height: 21px;
  width: 21px;
  left: 145px;
  background: url(../assets/alert_no.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .main-content .form_address .inner .status .active {
  display: block;
}
.wrapper .main-content .form_address .inner .send {
  width: 470px;
}
.wrapper .main-content .form_address .inner .send input[type=button] {
  height: 75px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  font: 36px/66px 'Open Sans', sans-serif;
  color: #999;
  border: 2px solid #999;
  background: transparent;
}
.wrapper .main-content .form_address .inner .send input[type=button].active {
  border: none;
  font: 36px/70px 'Open Sans', sans-serif;
  color: #fff;
  background: #ed785c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ed785c 0%, #ff5200 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ed785c 0%, #ff5200 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ed785c 0%, #ff5200 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed785c', endColorstr='#ff5200', GradientType=0);
  /* IE6-9 */
}
.wrapper .main-content .form_address .inner .send input[type=button].active:hover {
  background: #ed785c;
}
.wrapper .main-content .possibilities {
  position: relative;
  background: #fff;
  background: url(../assets/possibilities.png) 50% 0%;
}
.wrapper .main-content .possibilities .inner {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  padding-top: 90px;
  padding-bottom: 150px;
  padding-left: 220px;
  padding-right: 220px;
}
.wrapper .main-content .possibilities .inner .title {
  position: relative;
  text-align: center;
  font: bold 48px/48px 'Open Sans', sans-serif;
  color: #010101;
  margin-bottom: 80px;
}
.wrapper .main-content .possibilities .inner .title:after {
  content: '';
  position: absolute;
  width: 710px;
  height: 11px;
  top: 55px;
  left: 50%;
  margin-left: -355px;
  background: url(../assets/underline.png) 100% no-repeat;
}
.wrapper .main-content .possibilities .inner .block .item {
  margin-top: 50px;
  padding-left: 25px;
}
.wrapper .main-content .possibilities .inner .block .item:nth-child(1) {
  margin-top: 0px;
}
.wrapper .main-content .possibilities .inner .block .item .name {
  font: 44px/44px 'Nautilus Pompilius', sans-serif;
  color: #00508c;
  position: relative;
  margin-bottom: 20px;
}
.wrapper .main-content .possibilities .inner .block .item .name:before {
  content: '-';
  position: absolute;
  left: -25px;
  top: 0px;
  font: 44px/44px 'Nautilus Pompilius', sans-serif;
  color: #00508c;
}
.wrapper .main-content .possibilities .inner .block .item .name:after {
  content: '';
  width: 49px;
  height: 41px;
  background: url(../assets/possibilities_mark.png) 100% no-repeat;
  background-size: 100%;
  display: inline-block;
  margin-left: 10px;
}
.wrapper .main-content .possibilities .inner .block .item .txt {
  font: 24px/24px 'Open Sans', sans-serif;
  color: #666666;
  padding-left: 15px;
}
.wrapper .main-content .faq {
  position: relative;
  background: #fff;
}
.wrapper .main-content .faq .inner {
  position: relative;
  width: 1400px;
  margin: 0px auto;
  padding-top: 150px;
  padding-bottom: 75px;
}
.wrapper .main-content .faq .inner:before {
  content: '';
  position: absolute;
  height: 166px;
  width: 155px;
  left: 50%;
  margin-left: -77.5px;
  top: -67px;
  background: url(../assets/qmark.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .main-content .faq .inner .item {
  position: relative;
  padding-left: 630px;
  height: 162px;
}
.wrapper .main-content .faq .inner .item:nth-child(2) {
  padding-left: 0;
  padding-right: 645px;
  height: 147px;
}
.wrapper .main-content .faq .inner .item:nth-child(2) .name {
  top: -20px;
  left: 820px;
  width: 371px;
  height: 128px;
  text-align: right;
  background: url(../assets/faqnameplate2.png) 100% no-repeat;
  background-size: 100%;
  padding: 15px 25px 0 0px;
}
.wrapper .main-content .faq .inner .item:nth-child(2) .name:after {
  content: '';
  position: absolute;
  width: 81px;
  height: 44px;
  top: -3px;
  left: -55px;
  background: url(../assets/arrow.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.wrapper .main-content .faq .inner .item:nth-child(2) .txt {
  text-align: right;
}
.wrapper .main-content .faq .inner .item:nth-child(3) {
  height: 201px;
  padding-left: 643px;
}
.wrapper .main-content .faq .inner .item:nth-child(3) .name {
  top: -20px;
  left: 100px;
  width: 496px;
  height: 142px;
  text-align: left;
  background: url(../assets/faqnameplate3.png) 100% no-repeat;
  background-size: 100%;
  padding: 20px 42px 0 50px;
}
.wrapper .main-content .faq .inner .item:nth-child(3) .name:after {
  content: '';
  position: absolute;
  width: 81px;
  height: 44px;
  top: 55px;
  left: 415px;
  background: url(../assets/arrow.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
.wrapper .main-content .faq .inner .item:nth-child(4) {
  height: 150px;
  padding-left: 0;
  padding-right: 659px;
}
.wrapper .main-content .faq .inner .item:nth-child(4) .name {
  top: -75px;
  left: 750px;
  width: 479px;
  height: 188px;
  text-align: right;
  background: url(../assets/faqnameplate4.png) 100% no-repeat;
  background-size: 100%;
  padding: 32px 60px 0 0;
}
.wrapper .main-content .faq .inner .item:nth-child(4) .name:after {
  content: '';
  position: absolute;
  width: 81px;
  height: 44px;
  top: 10px;
  left: -50px;
  background: url(../assets/arrow.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-transform: rotate(-40deg) scalex(-1);
}
.wrapper .main-content .faq .inner .item:nth-child(4) .txt {
  text-align: right;
}
.wrapper .main-content .faq .inner .item .name {
  position: absolute;
  left: 120px;
  top: -15px;
  width: 475px;
  height: 100px;
  color: #fff;
  font: 500 24px/48px 'Open Sans', sans-serif;
  background: url(../assets/faqnameplate1.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  padding: 18px 0 0 57px;
}
.wrapper .main-content .faq .inner .item .name:after {
  content: '';
  position: absolute;
  width: 81px;
  height: 44px;
  top: 0px;
  left: 414px;
  background: url(../assets/arrow.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .main-content .faq .inner .item .txt {
  font: 18px/24px 'Open Sans', sans-serif;
}
.wrapper .main-content .form_plan {
  position: relative;
  background: url(../assets/form_plan_bg.jpg) 50% 0% no-repeat;
}
.wrapper .main-content .form_plan .inner {
  width: 1400px;
  margin: 0px auto;
  padding-top: 170px;
  height: 1030px;
}
.wrapper .main-content .form_plan .inner .title {
  color: #fff;
  text-align: center;
  font: 900 48px/48px 'Open Sans', sans-serif;
  margin-bottom: 130px;
}
.wrapper .main-content .form_plan .inner .subtitle {
  color: #fff;
  text-align: center;
  font: 30px/48px 'Open Sans', sans-serif;
  margin-bottom: 10px;
}
.wrapper .main-content .form_plan .inner .block {
  width: 540px;
  margin: 0px auto;
  margin-bottom: 30px;
}
.wrapper .main-content .form_plan .inner .block .inp {
  margin-top: 30px;
  position: relative;
}
.wrapper .main-content .form_plan .inner .block .inp:nth-child(1) {
  margin-top: 0px;
  float: left;
  width: 410px;
}
.wrapper .main-content .form_plan .inner .block .inp:nth-child(1) input[type=text] {
  border-radius: 5px 0px 0px 5px;
}
.wrapper .main-content .form_plan .inner .block .inp:nth-child(2) {
  margin-top: 0px;
  float: left;
  width: 130px;
  border-left: 1px solid #000;
}
.wrapper .main-content .form_plan .inner .block .inp:nth-child(2) input[type=text] {
  border-radius: 0px 5px 5px 0px;
}
.wrapper .main-content .form_plan .inner .block .inp:nth-child(5) {
  margin-top: 0px;
}
.wrapper .main-content .form_plan .inner .block .inp span {
  display: none;
  position: absolute;
  top: 5px;
  left: 20px;
  color: #000;
  font: 14px/16px 'Open Sans', sans-serif;
}
.wrapper .main-content .form_plan .inner .block .inp input[type=text] {
  width: 100%;
  height: 75px;
  border: none;
  outline: none;
  border-radius: 5px;
  font: 24px/30px 'Open Sans', sans-serif;
  padding: 25px 20px 20px 20px;
}
.wrapper .main-content .form_plan .inner .block .inp input[type=text]::-webkit-input-placeholder {
  color: #333;
}
.wrapper .main-content .form_plan .inner .block .inp input[type=text]:-moz-placeholder {
  color: #333;
}
.wrapper .main-content .form_plan .inner .block .inp input[type=text].transparent_placeholder::-webkit-input-placeholder {
  color: transparent;
}
.wrapper .main-content .form_plan .inner .block .inp input[type=text].transparent_placeholder:-moz-placeholder {
  color: transparent;
}
.wrapper .main-content .form_plan .inner .block .status {
  font: 16px 'Open Sans', sans-serif;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 16px;
}
.wrapper .main-content .form_plan .inner .block .status .ask {
  display: none;
  color: #3497db;
  padding-left: 30px;
  position: relative;
}
.wrapper .main-content .form_plan .inner .block .status .ask:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 19px;
  left: 4px;
  background: url(../assets/alert_ask.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .main-content .form_plan .inner .block .status .yes {
  display: none;
  color: green;
  padding-left: 30px;
  position: relative;
}
.wrapper .main-content .form_plan .inner .block .status .yes:before {
  content: '';
  position: absolute;
  height: 21px;
  width: 21px;
  left: 155px;
  background: url(../assets/alert_ok.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .main-content .form_plan .inner .block .status .no {
  display: none;
  color: red;
  padding-left: 30px;
  position: relative;
}
.wrapper .main-content .form_plan .inner .block .status .no:before {
  content: '';
  position: absolute;
  height: 21px;
  width: 21px;
  left: 145px;
  background: url(../assets/alert_no.png) 100% no-repeat;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .main-content .form_plan .inner .block .status .active {
  display: block;
}
.wrapper .main-content .form_plan .inner .send {
  width: 540px;
  margin: 0px auto;
  margin-bottom: 110px;
}
.wrapper .main-content .form_plan .inner .send input[type=button] {
  height: 85px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  outline: none;
  background: transparent;
  font: bold 36px/83px 'Open Sans', sans-serif;
  color: #fff;
}
.wrapper .main-content .form_plan .inner .bottomlink {
  text-align: center;
}
.wrapper .main-content .form_plan .inner .bottomlink a {
  display: inline-block;
  color: #ff7200;
  font: 24px/28px 'Open Sans', sans-serif;
  border-bottom: 1px solid #ff7200;
  text-decoration: none;
}
.wrapper .main-content .form_plan .inner .bottomlink a:hover {
  border-bottom: none;
  color: #fff;
}
.wrapper footer {
  background: #000;
}
.wrapper footer .inner {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  height: 77px;
}
.wrapper footer .inner .copy {
  position: absolute;
  left: 0px;
  top: 26px;
  color: white;
  font: 18px/18px 'Open Sans', sans-serif;
}
.wrapper footer .inner .line {
  padding-top: 26px;
  text-align: center;
}
.wrapper footer .inner .line span {
  display: inline-block;
  color: white;
  font: 18px/18px 'Open Sans', sans-serif;
  margin-left: 40px;
}
.wrapper footer .inner .line span a {
  color: white;
  text-decoration: underline;
  font: 18px/18px 'Open Sans', sans-serif;
}
.wrapper footer .inner .line span:nth-child(1) {
  margin-left: 0px;
}
.wrapper footer .inner .dterra {
  position: absolute;
  right: 0px;
  top: 26px;
}
.wrapper footer .inner .dterra a {
  color: #00ffff;
  text-decoration: underline;
  font: 18px/18px 'Open Sans', sans-serif;
}
@media (max-width: 1439px) {
  .wrapper {
    min-width: 1240px;
  }
  .wrapper header .inner {
    width: 1200px;
  }
  .wrapper .main-content .banner {
    height: 540px;
    background-size: auto 100%;
  }
  .wrapper .main-content .banner .tarif {
    font: bold 27px/27px 'Open Sans', sans-serif;
    top: 83px;
    margin-left: -58px;
    letter-spacing: 3px;
  }
  .wrapper .main-content .banner .plan_a {
    font: 900 64px/64px 'Open Sans', sans-serif;
    top: 112px;
    margin-left: -167px;
  }
  .wrapper .main-content .banner .for_those {
    font: 27px/27px 'Open Sans', sans-serif;
    top: 324px;
    margin-left: -183px;
  }
  .wrapper .main-content .banner .big_plan {
    font: bold 36px/36px 'Open Sans', sans-serif;
    top: 371px;
    margin-left: -183px;
  }
  .wrapper .main-content .banner .price {
    font: 900 54px/54px 'Open Sans', sans-serif;
    top: 213px;
    margin-left: -230px;
  }
  .wrapper .main-content .banner .price:before {
    width: 135px;
    height: 139px;
    top: -47px;
    left: -126px;
  }
  .wrapper .main-content .banner .price p {
    font: 36px/36px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .banner .speed {
    font: 900 54px/54px 'Open Sans', sans-serif;
    top: 213px;
    margin-left: 172px;
  }
  .wrapper .main-content .banner .speed:before {
    width: 128px;
    height: 126px;
    top: -32px;
    left: -108px;
  }
  .wrapper .main-content .banner .speed p {
    font: 36px/36px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_address:before {
    margin-left: -632px;
  }
  .wrapper .main-content .form_address .inner {
    width: 1200px;
    padding-left: 678px;
    padding-top: 38px;
  }
  .wrapper .main-content .possibilities .inner {
    width: 1220px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .wrapper .main-content .faq .inner {
    width: 1200px;
  }
  .wrapper .main-content .faq .inner .item {
    padding-left: 527px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) {
    padding-right: 553px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) .name {
    left: 722px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) {
    padding-left: 539px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) .name {
    left: 18px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) {
    padding-right: 563px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) .name {
    left: 660px;
  }
  .wrapper .main-content .faq .inner .item .name {
    left: 15px;
  }
  .wrapper .main-content .form_plan .inner {
    width: 1200px;
  }
  .wrapper footer .inner {
    width: 1200px;
  }
  .wrapper footer .inner .line {
    padding-left: 25px;
  }
  .wrapper footer .inner .line span {
    margin-left: 35px;
  }
}
@media (max-width: 1239px) {
  .wrapper {
    min-width: 980px;
  }
  .wrapper header .inner {
    width: 960px;
    height: 75px;
  }
  .wrapper header .inner .logo {
    top: 12px;
  }
  .wrapper header .inner .logo a {
    width: 120px;
    height: 51px;
    background-size: 100% auto;
  }
  .wrapper header .inner .phone_number {
    font: bold 18px/18px 'Open Sans', sans-serif;
    margin-top: -9px;
  }
  .wrapper .main-content .form_address:before {
    margin-left: -496px;
    width: 480px;
    background-size: 100% auto;
  }
  .wrapper .main-content .form_address .inner {
    width: 960px;
    padding-left: 516px;
    padding-top: 30px;
  }
  .wrapper .main-content .form_address .inner .sct {
    width: 354px;
    margin-bottom: 20px;
  }
  .wrapper .main-content .form_address .inner .sct:before {
    font: 900 27px/27px 'Open Sans', sans-serif;
    top: -5px;
    left: -54px;
  }
  .wrapper .main-content .form_address .inner .sct.address {
    height: 125px;
    width: 390px;
    background-size: 100% auto;
    padding: 56px 28px 0px 22px;
  }
  .wrapper .main-content .form_address .inner .sct.address:before {
    top: 32px;
    left: -36px;
  }
  .wrapper .main-content .form_address .inner .sct.address .inp.street {
    width: 240px;
  }
  .wrapper .main-content .form_address .inner .sct.address .inp.house {
    width: 100px;
  }
  .wrapper .main-content .form_address .inner .sct.address .inp input[type=text] {
    height: 46px;
    padding: 18px 12px 8px 12px;
  }
  .wrapper .main-content .form_address .inner .sct .inp span {
    left: 12px;
    font: 13px/15px 'Open Sans', sans-serif;
    top: 2px;
  }
  .wrapper .main-content .form_address .inner .sct .inp input[type=text] {
    height: 54px;
    font: 300 19px/20px 'Open Sans', sans-serif;
    padding: 20px 12px 14px 12px;
  }
  .wrapper .main-content .form_address .inner .status {
    font: 13px 'Open Sans', sans-serif;
    margin-bottom: 16px;
  }
  .wrapper .main-content .form_address .inner .send {
    width: 354px;
  }
  .wrapper .main-content .form_address .inner .send input[type=button] {
    height: 60px;
    font: 30px/56px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .possibilities .inner {
    width: 960px;
    padding-top: 68px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 110px;
  }
  .wrapper .main-content .possibilities .inner .title {
    font: bold 35px/35px 'Open Sans', sans-serif;
    margin-bottom: 60px;
  }
  .wrapper .main-content .possibilities .inner .title:after {
    width: 540px;
    background-size: 100% auto;
    margin-left: -270px;
    top: 40px;
  }
  .wrapper .main-content .possibilities .inner .block .item {
    margin-top: 36px;
  }
  .wrapper .main-content .possibilities .inner .block .item .name {
    font: 32px/32px 'Nautilus Pompilius', sans-serif;
    margin-bottom: 18px;
  }
  .wrapper .main-content .possibilities .inner .block .item .name:before {
    font: 32px/32px 'Nautilus Pompilius', sans-serif;
    left: -19px;
  }
  .wrapper .main-content .possibilities .inner .block .item .name:after {
    width: 38px;
    height: 30px;
    background-size: 100% auto;
  }
  .wrapper .main-content .possibilities .inner .block .item .txt {
    font: 18px/18px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .faq .inner {
    width: 960px;
    padding-top: 110px;
    padding-bottom: 25px;
  }
  .wrapper .main-content .faq .inner:before {
    width: 116px;
    margin-left: -58px;
    top: -75px;
  }
  .wrapper .main-content .faq .inner .item {
    padding-left: 415px;
    height: 120px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) {
    padding-right: 450px;
    height: 112px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) .name {
    top: -12px;
    left: 564px;
    width: 279px;
    height: 84px;
    padding: 10px 21px 0 0px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) .name:after {
    width: 63px;
    top: -7px;
    left: -47px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) {
    padding-left: 428px;
    height: 150px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) .name {
    left: 35px;
    width: 378px;
    height: 80px;
    padding: 7px 0px 0 40px;
    top: 0px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) .name:after {
    width: 60px;
    top: 23px;
    left: 326px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) {
    padding-right: 460px;
    height: 100px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) .name {
    left: 516px;
    width: 370px;
    height: 102px;
    top: -35px;
    padding: 17px 54px 0 0;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) .name:after {
    top: -13px;
    left: -36px;
    width: 60px;
  }
  .wrapper .main-content .faq .inner .item .name {
    top: 2px;
    left: 28px;
    width: 362px;
    height: 52px;
    font: 500 18px/24px 'Open Sans', sans-serif;
    padding: 9px 0 0 40px;
  }
  .wrapper .main-content .faq .inner .item .name:after {
    width: 60px;
    top: -17px;
    left: 315px;
  }
  .wrapper .main-content .faq .inner .item .txt {
    font: 14px/18px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_plan {
    background-size: auto 100%;
  }
  .wrapper .main-content .form_plan .inner {
    width: 960px;
    height: 775px;
    padding-top: 127px;
  }
  .wrapper .main-content .form_plan .inner .title {
    font: 900 35px/35px 'Open Sans', sans-serif;
    margin-bottom: 100px;
  }
  .wrapper .main-content .form_plan .inner .subtitle {
    font: 22px/30px 'Open Sans', sans-serif;
    margin-bottom: 13px;
  }
  .wrapper .main-content .form_plan .inner .block {
    width: 405px;
    margin-bottom: 22px;
  }
  .wrapper .main-content .form_plan .inner .block .inp {
    margin-top: 22px;
  }
  .wrapper .main-content .form_plan .inner .block .inp:nth-child(1) {
    width: 308px;
  }
  .wrapper .main-content .form_plan .inner .block .inp:nth-child(2) {
    width: 97px;
  }
  .wrapper .main-content .form_plan .inner .block .inp span {
    top: 2px;
    left: 15px;
    font: 13px/15px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_plan .inner .block .inp input[type=text] {
    height: 55px;
    font: 18px/21px 'Open Sans', sans-serif;
    padding: 22px 15px 12px 15px;
  }
  .wrapper .main-content .form_plan .inner .block .status {
    margin-top: 5px;
    margin-bottom: 15px;
    font: 13px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_plan .inner .send {
    width: 405px;
    margin-bottom: 90px;
  }
  .wrapper .main-content .form_plan .inner .send input[type=button] {
    height: 66px;
    font: bold 27px/64px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_plan .inner .bottomlink a {
    font: 18px/24px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner {
    width: 960px;
  }
  .wrapper footer .inner .copy {
    font: 13px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .line {
    font: 13px/15px 'Open Sans', sans-serif;
    padding-left: 55px;
  }
  .wrapper footer .inner .line span {
    margin-left: 35px;
    font: 13px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .line span a {
    font: 13px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .dterra {
    font: 13px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .dterra a {
    font: 13px/15px 'Open Sans', sans-serif;
  }
}
@media (max-width: 979px) {
  .wrapper {
    min-width: 740px;
  }
  .wrapper header .inner {
    width: 708px;
  }
  .wrapper .main-content .banner .price {
    font: 900 48px/48px 'Open Sans', sans-serif;
    top: 219px;
    margin-left: -223px;
  }
  .wrapper .main-content .banner .price:before {
    width: 104px;
    left: -93px;
  }
  .wrapper .main-content .banner .price p {
    font: 30px/30px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .banner .speed {
    font: 900 48px/48px 'Open Sans', sans-serif;
    top: 219px;
    margin-left: 110px;
  }
  .wrapper .main-content .banner .speed:before {
    width: 100px;
    top: -35px;
    left: -75px;
  }
  .wrapper .main-content .banner .speed p {
    font: 30px/30px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_address:before {
    margin-left: -240px;
  }
  .wrapper .main-content .form_address .inner {
    width: 708px;
    padding-left: 180px;
    padding-top: 190px;
  }
  .wrapper .main-content .possibilities .inner {
    width: 708px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .wrapper .main-content .faq .inner {
    width: 708px;
    padding-bottom: 45px;
  }
  .wrapper .main-content .faq .inner .item {
    padding-left: 343px;
    height: 110px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) {
    padding-right: 380px;
    height: 98px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) .name {
    left: 400px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) {
    padding-left: 345px;
    height: 125px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) .name {
    left: -17px;
    top: -10px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) .name:after {
    top: 40px;
    left: 293px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) {
    padding-right: 380px;
    height: 100px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) .name {
    left: 343px;
    top: -18px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) .name:after {
    top: -20px;
    left: -21px;
  }
  .wrapper .main-content .faq .inner .item .name {
    top: -11px;
    left: -21px;
  }
  .wrapper .main-content .faq .inner .item .txt {
    font: 13px/17px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .faq .inner .item .txt br {
    display: none;
  }
  .wrapper .main-content .form_plan .inner {
    width: 708px;
    height: 580px;
    padding-top: 97px;
  }
  .wrapper .main-content .form_plan .inner .title {
    font: 900 26px/26px 'Open Sans', sans-serif;
    margin-bottom: 75px;
  }
  .wrapper .main-content .form_plan .inner .subtitle {
    font: 18px/24px 'Open Sans', sans-serif;
    margin-bottom: 8px;
  }
  .wrapper .main-content .form_plan .inner .block {
    width: 300px;
    margin-bottom: 16px;
  }
  .wrapper .main-content .form_plan .inner .block .inp {
    margin-top: 16px;
  }
  .wrapper .main-content .form_plan .inner .block .inp:nth-child(1) {
    width: 225px;
  }
  .wrapper .main-content .form_plan .inner .block .inp:nth-child(2) {
    width: 75px;
  }
  .wrapper .main-content .form_plan .inner .block .inp span {
    left: 10px;
  }
  .wrapper .main-content .form_plan .inner .block .inp input[type=text] {
    height: 42px;
    font: 16px/18px 'Open Sans', sans-serif;
    padding: 16px 10px 8px 10px;
  }
  .wrapper .main-content .form_plan .inner .block .status {
    margin-top: 0px;
    margin-bottom: 10px;
    font: 12px 'Open Sans', sans-serif;
    margin-left: -26px;
    white-space: nowrap;
  }
  .wrapper .main-content .form_plan .inner .block .status .ask {
    padding-left: 16px;
  }
  .wrapper .main-content .form_plan .inner .block .status .ask:before {
    height: 12px;
    width: 12px;
    left: 0px;
    top: 2px;
  }
  .wrapper .main-content .form_plan .inner .send {
    width: 300px;
    margin-bottom: 65px;
  }
  .wrapper .main-content .form_plan .inner .send input[type=button] {
    height: 48px;
    font: bold 20px/46px 'Open Sans', sans-serif;
    border-radius: 8px;
  }
  .wrapper .main-content .form_plan .inner .bottomlink a {
    font: 16px/20px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner {
    width: 708px;
  }
  .wrapper footer .inner .copy {
    font: 12px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .line {
    font: 12px/15px 'Open Sans', sans-serif;
    padding-left: 110px;
  }
  .wrapper footer .inner .line span {
    margin-left: 15px;
    font: 12px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .line span a {
    font: 12px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .dterra {
    font: 12px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .dterra a {
    font: 12px/15px 'Open Sans', sans-serif;
  }
}
@media (max-width: 739px) {
  .wrapper {
    min-width: 320px;
  }
  .wrapper header .inner {
    width: 300px;
    height: 50px;
  }
  .wrapper header .inner .logo {
    top: 6px;
  }
  .wrapper header .inner .logo a {
    width: 82px;
    height: 35px;
  }
  .wrapper header .inner .phone_number {
    font: bold 16px/16px 'Open Sans', sans-serif;
    margin-top: -8px;
  }
  .wrapper .main-content .banner {
    height: 345px;
  }
  .wrapper .main-content .banner .tarif {
    font: bold 18px/18px 'Open Sans', sans-serif;
    top: 50px;
    margin-left: -41px;
  }
  .wrapper .main-content .banner .plan_a {
    font: 900 38px/38px 'Open Sans', sans-serif;
    top: 70px;
    margin-left: -95px;
  }
  .wrapper .main-content .banner .for_those {
    font: 18px/18px 'Open Sans', sans-serif;
    top: 225px;
    margin-left: -119px;
  }
  .wrapper .main-content .banner .big_plan {
    font: bold 23px/23px 'Open Sans', sans-serif;
    top: 256px;
    margin-left: -119px;
  }
  .wrapper .main-content .banner .price {
    font: 700 32px/32px 'Open Sans', sans-serif;
    top: 140px;
    margin-left: -82px;
  }
  .wrapper .main-content .banner .price:before {
    width: 80px;
    left: -74px;
    top: -54px;
  }
  .wrapper .main-content .banner .price p {
    display: block;
    font: 18px/20px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .banner .speed {
    font: 700 32px/32px 'Open Sans', sans-serif;
    top: 140px;
    margin-left: 66px;
  }
  .wrapper .main-content .banner .speed:before {
    width: 74px;
    top: -44px;
    left: -64px;
  }
  .wrapper .main-content .banner .speed p {
    display: block;
    font: 18px/20px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_address:before {
    margin-left: -175px;
    width: 350px;
    top: 19px;
  }
  .wrapper .main-content .form_address .inner {
    width: 300px;
    padding-left: 0px;
    padding-top: 152px;
    padding-bottom: 50px;
  }
  .wrapper .main-content .form_address .inner .sct {
    width: 260px;
    margin: 0px auto;
    margin-bottom: 16px;
  }
  .wrapper .main-content .form_address .inner .sct:before {
    display: none;
  }
  .wrapper .main-content .form_address .inner .sct.address {
    height: 115px;
    width: 308px;
    margin: 0px -4px;
    background: url(../assets/adress_plate_320.png) no-repeat;
    padding: 46px 23px 0px 25px;
  }
  .wrapper .main-content .form_address .inner .sct.address .inp.street {
    width: 175px;
  }
  .wrapper .main-content .form_address .inner .sct.address .inp.house {
    width: 85px;
  }
  .wrapper .main-content .form_address .inner .sct.address .inp input[type=text] {
    height: 40px;
    font: 14px/16px 'Open Sans', sans-serif;
    padding: 16px 10px 8px 10px;
    background: #fff;
  }
  .wrapper .main-content .form_address .inner .sct .inp span {
    font: 11px/14px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_address .inner .sct .inp input[type=text] {
    height: 40px;
    font: 14px/16px 'Open Sans', sans-serif;
    padding: 16px 10px 8px 10px;
    border: 1px solid #999999;
    background: #fff;
  }
  .wrapper .main-content .form_address .inner .status {
    text-align: center;
    padding: 0px 20px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .wrapper .main-content .form_address .inner .status .ask:before {
    left: 45px;
    top: 2px;
    width: 15px;
    height: 15px;
    color: #14609a;
  }
  .wrapper .main-content .form_address .inner .send {
    width: 260px;
    margin: 0px auto;
  }
  .wrapper .main-content .form_address .inner .send input[type=button] {
    height: 45px;
    font: 22px/43px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .possibilities .inner {
    width: 300px;
    padding-top: 25px;
  }
  .wrapper .main-content .possibilities .inner .title {
    font: bold 24px/33px 'Open Sans', sans-serif;
    margin-bottom: 45px;
    padding: 0px 50px;
  }
  .wrapper .main-content .possibilities .inner .title:after {
    width: 220px;
    margin-left: -110px;
    top: 65px;
  }
  .wrapper .main-content .possibilities .inner .block .item {
    margin-top: 24px;
    padding-left: 15px;
  }
  .wrapper .main-content .possibilities .inner .block .item:nth-child(2) .name:after {
    right: 20px;
  }
  .wrapper .main-content .possibilities .inner .block .item:nth-child(3) .name:after {
    right: 65px;
  }
  .wrapper .main-content .possibilities .inner .block .item:nth-child(4) .name:after {
    right: 25px;
  }
  .wrapper .main-content .possibilities .inner .block .item .name {
    font: 20px/25px 'Nautilus Pompilius', sans-serif;
    margin-bottom: 5px;
    padding-right: 40px;
  }
  .wrapper .main-content .possibilities .inner .block .item .name:before {
    font: 20px/25px 'Nautilus Pompilius', sans-serif;
    left: -12px;
  }
  .wrapper .main-content .possibilities .inner .block .item .name:after {
    position: absolute;
    display: block;
    right: 75px;
    top: -3px;
    width: 26px;
    height: 25px;
  }
  .wrapper .main-content .possibilities .inner .block .item .txt {
    font: 13px/17px 'Open Sans', sans-serif;
    padding-right: 30px;
    padding-left: 10px;
  }
  .wrapper .main-content .faq .inner {
    width: 300px;
    padding-bottom: 45px;
    padding-top: 95px;
  }
  .wrapper .main-content .faq .inner:before {
    width: 88px;
    margin-left: -44px;
  }
  .wrapper .main-content .faq .inner .item {
    padding-left: 0px;
    height: auto;
    text-align: left;
    padding-top: 38px;
    margin-top: 20px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(1) {
    margin-top: 0px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) {
    padding-right: 0px;
    height: auto;
    text-align: left;
    padding-top: 75px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) .name {
    left: 0px;
    top: 0px;
    width: 260px;
    height: 78px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(2) .txt {
    text-align: left;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) {
    padding-left: 0px;
    height: auto;
    text-align: left;
    padding-top: 78px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) .name {
    left: 0px;
    top: 0px;
    width: 336px;
    height: 72px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(3) .txt {
    text-align: left;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) {
    padding-right: 0px;
    height: auto;
    text-align: left;
    padding-top: 90px;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) .name {
    left: 0px;
    top: 0px;
    width: 317px;
    height: 92px;
    padding: 16px 32px 0 0;
  }
  .wrapper .main-content .faq .inner .item:nth-child(4) .txt {
    text-align: left;
  }
  .wrapper .main-content .faq .inner .item .name {
    width: 320px;
    height: 44px;
    font: 500 17px/22px 'Open Sans', sans-serif;
    padding: 10px 0 0 29px;
    top: -15px;
    left: -2px;
  }
  .wrapper .main-content .faq .inner .item .name:after {
    display: none;
  }
  .wrapper .main-content .faq .inner .item .txt {
    font: 14px/18px 'Open Sans', sans-serif;
    text-align: left;
    padding-left: 10px;
  }
  .wrapper .main-content .faq .inner .item .txt br {
    display: none;
  }
  .wrapper .main-content .form_plan {
    background: url(../assets/form_plan_bg_320.jpg) no-repeat 50% 0%;
  }
  .wrapper .main-content .form_plan .inner {
    width: 300px;
    height: 620px;
    padding-top: 93px;
  }
  .wrapper .main-content .form_plan .inner .title {
    margin-bottom: 77px;
  }
  .wrapper .main-content .form_plan .inner .subtitle {
    font: 17px/24px 'Open Sans', sans-serif;
  }
  .wrapper .main-content .form_plan .inner .block {
    width: 260px;
    margin-bottom: 20px;
  }
  .wrapper .main-content .form_plan .inner .block .inp {
    margin-top: 20px;
  }
  .wrapper .main-content .form_plan .inner .block .inp:nth-child(1) {
    width: 208px;
  }
  .wrapper .main-content .form_plan .inner .block .inp:nth-child(2) {
    width: 52px;
  }
  .wrapper .main-content .form_plan .inner .block .inp span {
    left: 10px;
  }
  .wrapper .main-content .form_plan .inner .block .inp input[type=text] {
    height: 40px;
    font: 16px/18px 'Open Sans', sans-serif;
    padding: 15px 10px 7px 10px;
  }
  .wrapper .main-content .form_plan .inner .block .status {
    margin-top: 7px;
    margin-bottom: 12px;
    font: 12px 'Open Sans', sans-serif;
    margin-left: 0px;
    white-space: normal;
  }
  .wrapper .main-content .form_plan .inner .block .status .ask {
    padding: 0px 30px;
    text-align: center;
  }
  .wrapper .main-content .form_plan .inner .block .status .ask:before {
    left: 21px;
    top: 3px;
  }
  .wrapper .main-content .form_plan .inner .send {
    width: 260px;
    margin-bottom: 75px;
  }
  .wrapper .main-content .form_plan .inner .send input[type=button] {
    height: 48px;
    font: bold 20px/46px 'Open Sans', sans-serif;
    border-radius: 8px;
  }
  .wrapper .main-content .form_plan .inner .bottomlink a {
    font: 16px/20px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner {
    width: 300px;
    padding-top: 50px;
    padding-bottom: 20px;
    height: auto;
  }
  .wrapper footer .inner .copy {
    font: 12px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .line {
    font: 12px/15px 'Open Sans', sans-serif;
    padding-left: 0px;
    text-align: left;
    padding-top: 0px;
  }
  .wrapper footer .inner .line span {
    margin-right: 15px;
    margin-left: 0px;
    font: 12px/15px 'Open Sans', sans-serif;
    margin-bottom: 10px;
  }
  .wrapper footer .inner .line span a {
    font: 12px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .dterra {
    font: 12px/15px 'Open Sans', sans-serif;
  }
  .wrapper footer .inner .dterra a {
    font: 12px/15px 'Open Sans', sans-serif;
  }
}
